<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.93066698</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>CartoCSS翻译进度-第一版推迟发布.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.99405402</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>Compositing这部分的翻译.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640517.01270598</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>C专家编程书摘.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.87958199</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Homebrew中Postgresql从9.3升级到9.4之后的数据兼容性问题.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640517.01248002</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>Mapbox Studio文档大更新.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.98328698</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>Multimodal route planner (mmrp) API service v1 is released.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.961474</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>O2O的泡沫.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.94125003</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Postgresql service can not be stopped on OSX.md</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.83622199</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Refactoring mmspa library.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.93037301</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Single Page Web Applications第二章很棒.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.94814599</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>don't config DYLD_LIBRARY_PATH.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640676.21406299</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>libtool linking error when brew installing packages.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640676.21525198</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>mapbox map matching api.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.93833297</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>migrating a database always hurts.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640680.20027602</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>mmrp数据准备.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.97251201</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>new openrouteservice.md</key>
			<dict>
				<key>lastModification</key>
				<real>515075778.28192598</real>
				<key>version</key>
				<dict>
					<key>5bc94c015110b84288c5469e85d90dec6af3d51fa032f5657077f100e2e8a0dc</key>
					<integer>9</integer>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>nose无法使用coverage插件的问题.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.97303897</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>pyenv suddenly doesn't work after a brew cleanup.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640562.180875</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>released mmspa2.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.920367</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>why not wechat.md</key>
			<dict>
				<key>lastModification</key>
				<real>530013441.869362</real>
				<key>version</key>
				<dict>
					<key>5bc94c015110b84288c5469e85d90dec6af3d51fa032f5657077f100e2e8a0dc</key>
					<integer>16</integer>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>《CartoCSS指南》第一遍校对完成.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.97274601</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>一些时间点.md</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.83648598</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>事件是多尺度的.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.89839101</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>信息过载.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640517.00131601</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>关于博客语言的约定.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.86015999</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>关于德国的一切奇特问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>511022690.69779098</real>
				<key>version</key>
				<dict>
					<key>5bc94c015110b84288c5469e85d90dec6af3d51fa032f5657077f100e2e8a0dc</key>
					<integer>6</integer>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>其实就是这么几个事.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640517.01292098</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>再见，Thinkpad.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.89867401</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>反乌三部曲都看完了.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640517.001526</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>回天津.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.99175203</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>多模式路径规划服务API上线.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.96103901</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>大数据的陷阱.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.98306698</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>宏观，微观.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.92186701</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>尽管还是算的很慢（平均一次请求的处理时间要10s左右.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.94920897</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>年已经不属于我们这个年纪的人.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.912651</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>彩礼背后的心态.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.912305</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>未命名.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.83667302</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>模型：EW版W重装高达.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.86213601</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>死神也要完结了.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.86176997</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>消息终于来了.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.88229197</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>迁移至neovim，重启代码工作.txt</key>
			<dict>
				<key>lastModification</key>
				<real>505640516.86585897</real>
				<key>version</key>
				<dict>
					<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>511022698.01704299</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>why not wechat.md</string>
		</array>
		<array>
			<string>new openrouteservice.md</string>
		</array>
		<array>
			<string>关于德国的一切奇特问题.md</string>
		</array>
		<array>
			<string>migrating a database always hurts.txt</string>
		</array>
		<array>
			<string>libtool linking error when brew installing packages.txt</string>
		</array>
		<array>
			<string>don't config DYLD_LIBRARY_PATH.txt</string>
		</array>
		<array>
			<string>pyenv suddenly doesn't work after a brew cleanup.txt</string>
		</array>
		<array>
			<string>Postgresql service can not be stopped on OSX.md</string>
		</array>
		<array>
			<string>一些时间点.md</string>
		</array>
		<array>
			<string>未命名.txt</string>
		</array>
		<array>
			<string>死神也要完结了.txt</string>
		</array>
		<array>
			<string>模型：EW版W重装高达.txt</string>
		</array>
		<array>
			<string>关于博客语言的约定.txt</string>
		</array>
		<array>
			<string>迁移至neovim，重启代码工作.txt</string>
		</array>
		<array>
			<string>消息终于来了.txt</string>
		</array>
		<array>
			<string>C专家编程书摘.txt</string>
		</array>
		<array>
			<string>再见，Thinkpad.txt</string>
		</array>
		<array>
			<string>事件是多尺度的.txt</string>
		</array>
		<array>
			<string>年已经不属于我们这个年纪的人.txt</string>
		</array>
		<array>
			<string>彩礼背后的心态.txt</string>
		</array>
		<array>
			<string>宏观，微观.txt</string>
		</array>
		<array>
			<string>released mmspa2.txt</string>
		</array>
		<array>
			<string>2016.txt</string>
		</array>
		<array>
			<string>Refactoring mmspa library.txt</string>
		</array>
		<array>
			<string>O2O的泡沫.txt</string>
		</array>
		<array>
			<string>mapbox map matching api.txt</string>
		</array>
		<array>
			<string>尽管还是算的很慢（平均一次请求的处理时间要10s左右.txt</string>
		</array>
		<array>
			<string>Single Page Web Applications第二章很棒.txt</string>
		</array>
		<array>
			<string>Multimodal route planner (mmrp) API service v1 is released.txt</string>
		</array>
		<array>
			<string>多模式路径规划服务API上线.txt</string>
		</array>
		<array>
			<string>nose无法使用coverage插件的问题.txt</string>
		</array>
		<array>
			<string>mmrp数据准备.txt</string>
		</array>
		<array>
			<string>《CartoCSS指南》第一遍校对完成.txt</string>
		</array>
		<array>
			<string>Mapbox Studio文档大更新.txt</string>
		</array>
		<array>
			<string>大数据的陷阱.txt</string>
		</array>
		<array>
			<string>CartoCSS翻译进度-第一版推迟发布.txt</string>
		</array>
		<array>
			<string>回天津.txt</string>
		</array>
		<array>
			<string>反乌三部曲都看完了.txt</string>
		</array>
		<array>
			<string>信息过载.txt</string>
		</array>
		<array>
			<string>其实就是这么几个事.txt</string>
		</array>
		<array>
			<string>Compositing这部分的翻译.txt</string>
		</array>
		<array>
			<string>Homebrew中Postgresql从9.3升级到9.4之后的数据兼容性问题.txt</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>5bc94c015110b84288c5469e85d90dec6af3d51fa032f5657077f100e2e8a0dc</key>
			<integer>17</integer>
			<key>b85c242e8f4ab82c01e9dd9335d9584935f02be5cace820728ec4d23cb383281</key>
			<integer>47</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>5bc94c015110b84288c5469e85d90dec6af3d51fa032f5657077f100e2e8a0dc</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
